# coding: utf-8

"""
    Harbor API

    These APIs provide services for manipulating Harbor project.  # noqa: E501

    OpenAPI spec version: 1.10.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from harbor.api_client import ApiClient


class LabelApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def chartrepo_repo_charts_name_version_labels_get(self, repo, name, version, **kwargs):  # noqa: E501
        """Return the attahced labels of chart.  # noqa: E501

        Return the attahced labels of the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_get(repo, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.chartrepo_repo_charts_name_version_labels_get_with_http_info(repo, name, version, **kwargs)  # noqa: E501
        else:
            (data) = self.chartrepo_repo_charts_name_version_labels_get_with_http_info(repo, name, version, **kwargs)  # noqa: E501
            return data

    def chartrepo_repo_charts_name_version_labels_get_with_http_info(self, repo, name, version, **kwargs):  # noqa: E501
        """Return the attahced labels of chart.  # noqa: E501

        Return the attahced labels of the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_get_with_http_info(repo, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['repo', 'name', 'version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method chartrepo_repo_charts_name_version_labels_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'repo' is set
        if ('repo' not in params or
                params['repo'] is None):
            raise ValueError("Missing the required parameter `repo` when calling `chartrepo_repo_charts_name_version_labels_get`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `chartrepo_repo_charts_name_version_labels_get`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `chartrepo_repo_charts_name_version_labels_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'repo' in params:
            path_params['repo'] = params['repo']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'version' in params:
            path_params['version'] = params['version']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/chartrepo/{repo}/charts/{name}/{version}/labels', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def chartrepo_repo_charts_name_version_labels_id_delete(self, repo, name, version, id, **kwargs):  # noqa: E501
        """Remove label from chart.  # noqa: E501

        Remove label from the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_id_delete(repo, name, version, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :param int id: The label ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.chartrepo_repo_charts_name_version_labels_id_delete_with_http_info(repo, name, version, id, **kwargs)  # noqa: E501
        else:
            (data) = self.chartrepo_repo_charts_name_version_labels_id_delete_with_http_info(repo, name, version, id, **kwargs)  # noqa: E501
            return data

    def chartrepo_repo_charts_name_version_labels_id_delete_with_http_info(self, repo, name, version, id, **kwargs):  # noqa: E501
        """Remove label from chart.  # noqa: E501

        Remove label from the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_id_delete_with_http_info(repo, name, version, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :param int id: The label ID (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['repo', 'name', 'version', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method chartrepo_repo_charts_name_version_labels_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'repo' is set
        if ('repo' not in params or
                params['repo'] is None):
            raise ValueError("Missing the required parameter `repo` when calling `chartrepo_repo_charts_name_version_labels_id_delete`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `chartrepo_repo_charts_name_version_labels_id_delete`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `chartrepo_repo_charts_name_version_labels_id_delete`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `chartrepo_repo_charts_name_version_labels_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'repo' in params:
            path_params['repo'] = params['repo']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'version' in params:
            path_params['version'] = params['version']  # noqa: E501
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/chartrepo/{repo}/charts/{name}/{version}/labels/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def chartrepo_repo_charts_name_version_labels_post(self, body, repo, name, version, **kwargs):  # noqa: E501
        """Mark label to chart.  # noqa: E501

        Mark label to the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_post(body, repo, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Label body: The label being marked to the chart version (required)
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.chartrepo_repo_charts_name_version_labels_post_with_http_info(body, repo, name, version, **kwargs)  # noqa: E501
        else:
            (data) = self.chartrepo_repo_charts_name_version_labels_post_with_http_info(body, repo, name, version, **kwargs)  # noqa: E501
            return data

    def chartrepo_repo_charts_name_version_labels_post_with_http_info(self, body, repo, name, version, **kwargs):  # noqa: E501
        """Mark label to chart.  # noqa: E501

        Mark label to the specified chart version.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.chartrepo_repo_charts_name_version_labels_post_with_http_info(body, repo, name, version, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Label body: The label being marked to the chart version (required)
        :param str repo: The project name (required)
        :param str name: The chart name (required)
        :param str version: The chart version (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'repo', 'name', 'version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method chartrepo_repo_charts_name_version_labels_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `chartrepo_repo_charts_name_version_labels_post`")  # noqa: E501
        # verify the required parameter 'repo' is set
        if ('repo' not in params or
                params['repo'] is None):
            raise ValueError("Missing the required parameter `repo` when calling `chartrepo_repo_charts_name_version_labels_post`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `chartrepo_repo_charts_name_version_labels_post`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `chartrepo_repo_charts_name_version_labels_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'repo' in params:
            path_params['repo'] = params['repo']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501
        if 'version' in params:
            path_params['version'] = params['version']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/chartrepo/{repo}/charts/{name}/{version}/labels', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
